@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-um: #38B6FFff;
    --cor-dois: #E4F0F6ff;
    --cor-tres: #57C0FDff;
    --cor-quatro: #F6F6F5ff;
    --cor-cinco: rgb(0, 0, 0);
    --texto-corpo: "Raleway", sans-serif;
    --texto-titulo: "Sedan SC", serif;
}

body{
    background: #3b3854;
    color: whitesmoke;
    font-family: var(--texto-corpo);
}

.cabecalho{
    background-color: var(--cor-dois);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}
.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo);
    font-size: 24px;
    color: var(--cor-cinco);
    margin-right: 24px;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/neve2.gif);
    background-size: 100%;
    background-repeat: no-repeat ;
    margin: 24px 12px;    
}

.principal-capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal-capa__titulo{
    font-family: var(--texto-titulo);
    font-size: 32px;
    color: var(--cor-dois);
    margin-bottom: 12px;
}

.principal-capa__texto{
   font-size: 24px;
   margin: 24px 30% 24px 0; 
}

.principal-capa__imagem{
    border-radius: 5%;
}

.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.principal-capa__botao{
    background-color: var(--cor-um);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2m;
    color: var(--cor-quatro);
    font-weight: bold;
    text-decoration: none;
} 
.propaganda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 7em;
}

.propaganda__imagem{
    margin-left: 20%;
    width: 50%;
}

.propaganda__titulo{
    font-family: var(--texto-titulo);
    font-size: 48px;
    color: var(--cor-quatro);
    margin-bottom: 1em;
}

.propaganda__botao{
    margin-top: 1em;
}

.propaganda02{
    display: flex;
    flex-direction: column;
}

.dispositivos{
    text-align: center;
}
.dispositivos__titulos{
    font-family: var(--texto-titulo);
    font-size: 48px;
    color: var(--cor-quatro);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 24px;
    color: var(--cor-dois); 
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--cor-dois);
    margin-left: 1em;
}

.rodape__texto{
    margin: 1em 0;
    color: var(--cor-dois);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo{
    border-radius: 100%;
    width: 10%;
}